<div class="row justify-content-center content-header">
  <img src="assets/images/icon/iconFinama.PNG" alt="">
</div>
<div class="row justify-content-center container-form">
  <div class="row col-8 content-form">
    <div class="col-4" style="background-color: #00b3ee">
      image
    </div>
    <form class="col-8 form-input" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
      <div class="row justify-content-center">{{ 'main.button.register' | translate }}</div>
      <div class="row">
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Text input"
                 name="username"  [(ngModel)]="username"
                 #user_name="ngModel" required>
          <input type="text" class="form-control" placeholder="Text input" required>
          <input type="text" class="form-control" placeholder="Text input" required>
          <input type="text" class="form-control" placeholder="Text input" required>
          <input type="text" class="form-control" placeholder="Text input" required>
          <input type="text" class="form-control" placeholder="Text input" required>
          <re-captcha (resolved)="resolved($event)" siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></re-captcha>
        </div>
        <div class="col-6">
          <input type="text" class="form-control" placeholder="Text input">
          <input type="text" class="form-control" placeholder="Text input">
          <input type="text" class="form-control" placeholder="Text input">
          <input type="text" class="form-control" placeholder="Text input">
          <input type="text" class="form-control" placeholder="Text input">
          <input type="text" class="form-control" placeholder="Text input">
        </div>
      </div>
      <div class="row btn-submit">
        <button type="submit" class="btn btn-primary">{{ 'main.button.register' | translate }}</button>
      </div>
    </form>
  </div>
</div>
