<div class="row justify-content-center">
  <div class="row col-6 justify-content-center">
    <div>
      <img src="assets/images/icon/iconFinama.PNG" alt="">
    </div>
    <div class="col-2">{{ 'main.label.home' | translate }}</div>
    <div class="col-2">{{ 'main.label.introduce' | translate }}</div>
    <div class="col-2">{{ 'main.label.products' | translate }}</div>
  </div>
  <div class="row col-6 justify-content-center">
    <div class="col-2">
      <select class="form-control language-css"  id="language"
              [(ngModel)]="language" name="language" (change)="selectLang(language)">
        <option *ngFor="let language of translate.getLangs(); let i = index" [value]="language"
                [selected]="language === translate.currentLang">{{nameLang[i]}}</option>
      </select>
    </div>
    <div class="col-2 text-right"><a class="btn btn-default" routerLink="/login" role="button">{{ 'main.button.login' | translate }}</a></div>
    <div class="col-2"><button type="button" class="btn btn-primary" routerLink="/register">{{ 'main.button.register' | translate }}</button></div>
  </div>
</div>
